@import url("../../../styles/font.css");
.projectItem {
  position: relative;
  display: block;
  /* background-color: RGB(235, 235, 235); */
  border-radius: 8px;
  padding: 20px;
  height: 650px;
  width: 650px;
  z-index: 2;
  perspective: 650px;
}
.projectItemLink {
  display: block;
  background-color: RGB(235, 235, 235);
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.projectItem__top {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: rgb(122, 122, 122);
  font-family: "IBMPlexMono_Bold", sans-serif;
  font-weight: 400;
  gap: 10px;
  text-transform: uppercase;
  will-change: transform;
  transform: translateZ(0);
}

.projectItem__line {
  width: 100%;
  background-color: rgb(122, 122, 122);
  height: 1px;
}

.projectItem__middle {
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.projectItem__middle img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.projectItem__bottom {
  margin-top: 20px;
  border-top: 1px solid rgb(122, 122, 122);
}

.projectItem__wrapTitle {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.projectItem__title {
  font-size: 36px;
  color: rgb(25, 22, 23);
  font-weight: 600;
  line-height: 44px;
}
.company {
  font-size: 12px;
  color: rgb(122, 122, 122);
  font-family: "IBMPlexMono_Regular", sans-serif;
  font-weight: 500;
}

.projectItem__blockDesc {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectItem__wrapDesc {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  width: 70%;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.projectItem__description {
  font-family: "IBMPlexMono_Regular", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(122, 122, 122);
  font-weight: 400;
  border: 1px solid rgb(122, 122, 122);
  padding: 2px;
  border-radius: 6px;
  width: max-content;
  text-align: center;
}
.projectItem__link {
  cursor: pointer;
  position: absolute;
  right: 0;
  display: block;
  border: 1px solid rgb(122, 122, 122);
  width: 120px;
  border-radius: 6px;
  height: 100%;
  color: rgb(122, 122, 122);
  font-family: "IBMPlexMono_Regular", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.projectItem__link svg {
  fill: rgb(122, 122, 122);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projectItem__link:hover {
  background-color: RGB(26, 23, 26);
  color: rgb(236, 236, 236);
  /* transition: 0.5s; */
}

/* framer */
.tiltedCardFigure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: RGB(235, 235, 235);
}

.tiltedCardMobileAlert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tiltedCardMobileAlert {
    display: block;
  }
  .tiltedCardCaption {
    display: none;
  }
}

.tiltedCardInner {
  position: relative;
  transform-style: preserve-3d;
}

.tiltedCardImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
}

.tiltedCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tiltedCardCaption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}
