@import url("../../../styles/font.css");
.about {
  padding: 80px 80px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: RGB(235, 235, 235);
  height: 100vh;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: max-content;
}
.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__big {
  font-family: "Poppins_Bold";
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: rgb(25, 22, 23);
}

.content__desc {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content__desc p {
  font-family: "IBMPlexMono_Regular";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(25, 22, 23);
  line-height: 12px;
  width: 70%;
}
.content__small {
  font-size: 16px;
  font-weight: 400;
  color: rgb(25, 22, 23);
  line-height: 24px;
}

.content__image {
  position: relative;
  width: 500px;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.content__image img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .about {
    padding: 60px 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    height: initial;
  }
  .about__wrap {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .content__image {
    width: 100%;
    height: 300px;
  }
  .content__desc {
    flex-direction: column;
  }
  .content__big {
    font-size: 26px;
    line-height: 56px;
  }
  .content__desc p {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 40px 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .content__desc p {
    font-size: 11px;
  }
  .content__big {
    font-size: 28px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    padding: 20px 20px;
  }
}
