.brand {
  padding: 80px 80px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: RGB(235, 235, 235);
  color: rgb(25, 22, 23);
  text-align: center;
}

.brand__name {
  font-size: 72px;
  line-height: 80px;
  font-weight: 600;
}

.brand__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 20px auto;
  width: 600px;
}

.brand__list {
  position: relative;
  overflow: hidden;
}

/* Tạo overlay mờ bên trái và phải */
.brand__list::before,
.brand__list::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.brand__list::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(235, 235, 235, 1),
    rgba(25, 22, 23, 0)
  );
}

.brand__list::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(235, 235, 235, 1),
    rgba(25, 22, 23, 0)
  );
}
