@import url("../../../styles/font.css");
.contact {
  padding: 80px 80px 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  height: 100vh;
}

.contact__title {
  font-size: 96px;
  font-weight: 600;
  line-height: 108px;
  margin-bottom: 20px;
}
.contact__bg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__content {
  border-top: 1px solid rgb(122, 122, 122);
  padding: 10px;
}
.contact__content:not(:nth-child(3)) {
  border-right: 1px solid rgb(122, 122, 122);
}
.contact__content:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contact__content:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contact__content:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.contact__content span {
  font-family: "IBMPlexMono_Regular", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: rgb(122, 122, 122);
  font-weight: 500;
  text-transform: uppercase;
}
.contact__contetnWrapper {
  /* width: 100px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.contact__contetnWrapper .contact__link {
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
  gap: 10px;
  transition: 0.3s;
  white-space: nowrap; /* Không cho xuống dòng */
  overflow: hidden; /* Ẩn phần chữ bị tràn */
  text-overflow: ellipsis; /* Hiện dấu ... */
  max-width: 100%;
}
.contact__link .spanSocial {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contact__contetnWrapper .contact__link:hover {
  color: rgb(236, 236, 236);
  transition: 0.3s;
}
.contact__contetnWrapper .contact__link:hover .contact__icon {
  display: block;
  transition: 0.3s;
}
.contact__icon {
  width: 32px;
  height: 32px;
  display: none;
  transition: 0.3s;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .contact {
    padding: 60px 60px 10px;
    height: initial;
  }
  .contact__wrapper {
    display: block;
  }
  .contact__title {
    font-size: 58px;
  }
  .contact__contetnWrapper .contact__link {
    font-size: 26px;
  }
  .contact__icon {
    width: 26px;
    height: 26px;
  }
  .contact__content:not(:nth-child(3)) {
    border-right: initial;
  }
  .contact__link .contact__icon {
    display: none;
  }
  .contact__contetnWrapper .contact__link:hover .contact__icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    padding: 40px 40px 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .contact__title {
    font-size: 48px;
    line-height: initial;
  }
  .contact__contetnWrapper .contact__link {
    font-size: 20x;
  }
  .contact__icon {
    width: 20px;
    height: 20px;
  }
  .contact__bg {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .contact {
    padding: 40px 40px 10px;
    height: initial;
  }
}
