@import url("../../../styles/font.css");
.skill {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.skill__title {
  width: 60%;
}
.skill__list {
  width: 40%;
}
.skill__title span {
  font-family: "IBMPlexMono_Regular", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: rgb(122, 122, 122);
  text-transform: uppercase;
}

.skill__titleText {
  margin-top: 20px;
  font-size: 72px;
  line-height: 80px;
  font-weight: 600;
  padding-bottom: 20px;
}

.skill__titleText::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgb(122, 122, 122);
  margin-top: 10px;
}

.skill__titleDesc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .skill {
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
  .skill__title {
    width: 100%;
  }
  .skill__list {
    width: 100%;
  }
  .skill__titleText::after {
    width: 100%;
    margin-top: 30px;
  }
  .skill__titleText {
    margin-top: 20px;
    font-size: 58px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .skill {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
  }
  .skill__titleText {
    font-size: 36px;
    line-height: initial;
  }
}
@media only screen and (max-width: 480px) {
  .skill {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 60px;
  }
}
