@import url("../../../styles/font.css");
.skillItem {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 30px 20px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 20px;
  background: linear-gradient(
        to right,
        rgba(26, 23, 26, 1) 60%,
        rgba(255, 0, 0, 0)
      )
      100%,
    url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.skillItem__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skillItem__name {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.skillItem__num {
  font-family: "IBMPlexMono_Regular", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.skillItem__logo {
  width: 55px;
  height: 55px;
}
@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .skillItem__wrap {
    flex-direction: column;
  }
  .skillItem__name {
    font-size: 26px;
  }
  .skillItem__logo {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .skillItem__name {
    font-size: 20px;
  }
  .skillItem__logo {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 480px) {
}
