.container_fluid {
  width: 100%;
  padding: 0px 80px;
  margin: auto;
}

@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .container_fluid {
    padding: 0px 60px;
  }
}
@media only screen and (max-width: 768px) {
  .container_fluid {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 480px) {
  .container_fluid {
    padding: 0px 20px;
  }
}
