.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: RGB(235, 235, 235);
  mix-blend-mode: difference;
  z-index: 20;
}
@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
